/*  #ifdef  APP-PLUS  */
.index_top {
	padding-top: 80rpx;
}
.swiper {
	height: 550rpx !important;
	overflow: hidden;	
}
.swiper_image {
	height: 550rpx !important;
}
/*  #endif  */

.category1{
	background-color: #F0F8FB;
	border-radius: 20rpx; padding: 32rpx; margin: 20rpx 0 40rpx;
}
.category2 .swiper_cont{
	margin: auto;
	text-align: center;
}
.category2 .img-box{
	// background-color: #EDEDFC;
	border-radius: 100%;
	overflow: hidden;
	// height: 140rpx;
	// width: 140rpx;
	text-align: center;
	margin:0 auto 20rpx;
	display: flex;
	align-items: center;
	justify-content: center;
}
.category2 uni-swiper{height: 270rpx !important;text-align: center;margin: auto;}
