/**
 * 顶部内容
 */
.top-content {
	width: 100%;
	min-height: 100vh;
	background-color: #FFFFFF;
}
.back {
	width: 70rpx;
	top: 32rpx;
	left: 32rpx;
}
.content-big-box{
	padding: 160rpx 32rpx 32rpx;
}

.language {
	top: 32rpx;
	right: 30rpx;
	width: 45rpx;
}

/* 头像 */
.photos {
	width: 204rpx;
	margin: 0 auto 32rpx;
	display: block;
	border-radius: 30rpx;
}

.reg-tit {
	font-size: 40rpx;
	text-align: center;
	font-family: 蘋方-繁-Semibold, 蘋方-繁;
	font-weight: 600;
	color: #000000;
	margin: 0 auto;
}

.inputs {
	margin: 64rpx auto 0;
}
.input-label1{
	font-size: 45rpx;
	margin-bottom:40rpx;
	color: #1E232C;
}
.inputs .input-label{
	font-size: 30rpx;
	margin-bottom: 20rpx;
}
.inputs input {
	font-size: 32rpx;
	height: 92rpx;
	background-color: #ECE2FF;
	border-radius: 10rpx;
	padding-left: 32rpx;
}
.row-box{
	margin: -10rpx;
}
.row-box .input-box2{
	padding: 10rpx 10rpx 20rpx;
}
.row-box .form-title1{
	font-size: 30rpx;
	margin-bottom: 20rpx;
	font-weight: bold;
	color: #1E232C;
}
.row-box input{
	width: 100%;
	font-size: 32rpx;
	height: 92rpx;
	background-color: #ECE2FF;
	border-radius: 10rpx;
	padding-left: 10rpx;
}
.sexSelect{
	width: 100%;
	font-size: 32rpx;
	height: 92rpx;
	line-height: 92rpx;
	background-color: #ECE2FF;
	border-radius: 10rpx;
	padding-left: 10rpx;
	position: relative;
}
::v-deep .sexSelect .u-icon{
	position: absolute;
	right: 10rpx;
	top: 40rpx;
	color: #eee;
}
.birthSelect{
	width: 100%;
	font-size: 32rpx;
	height: 92rpx;
	background-color: #ECE2FF;
	border-radius: 10rpx;
	padding-left: 10rpx;
}
::v-deep .uni-date-x{
	width: 100%;
	font-size: 32rpx;
	height: 92rpx;
	background-color: #ECE2FF;
	border-radius: 10rpx;
	padding-left: 10rpx;
}
::v-deep .uni-date__x-input{
	font-size: 32rpx;
	color: #4a4a4a;
}
.input-hint {
	line-height: 54rpx;
	font-size: 24rpx;
}

.uni-page-body {
	color: #1E1E1E;
}

.getyzm {
	margin: 64rpx 0;
	padding: 12rpx;
	background: #6D14B3;
	border-radius: 10rpx;
	font-size: 30rpx;
	color: white;
}
.btn-blue{
	background-color: #2BA8F0;
}

/* 忘记密码 */
.forget {
	top: 192rpx;
	right: 0;
	line-height: 92rpx;
	font-size: 28rpx;
	font-family: 蘋方-繁-Medium, 蘋方-繁;
	font-weight: 500;
	color: #6D14B3;



}

.pass-reg {
	/* width: 112rpx; */
	font-size: 28rpx;
	font-family: 蘋方-繁-標準體, 蘋方-繁;
	color: #6D14B3;
	line-height: 32rpx;
	margin: 36rpx auto;
	text-align: center;
}

.xian {
	width: 190rpx;
	height: 2rpx;
	background: linear-gradient(90deg, #FFFFFF 0%, #CBCBCB 53%, #FFFFFF 100%);
	border-radius: 0rpx 0rpx 0rpx 0rpx;

}

.else-reg {
	width: 560rpx;
	height: 40rpx;
	margin: 102rpx auto 0;
}

.else-reg-true {
	width: 388rpx;
	margin: 46rpx auto 84rpx;

}

.select {
	width: 36rpx;
}

/* 协议 */
.xieyi-w {
	margin-top: 32rpx;
	width: 648rpx;
}

.xieyi {
	width: 600rpx;
	font-size: 26rpx;
	font-family: 蘋方-繁-標準體, 蘋方-繁;
	color: #9A9A9A;
	line-height: 32rpx;
}
.xieyi text{color: #6D14B3;}


/* 密码登录 */
.other-reg {
	width: 628rpx;
	margin: 32rpx auto 0;
}


.inputs-true {
	padding-left: 100rpx;
	box-sizing: border-box;
}

/* 图标 */
.ico1 {
	width: 40rpx;
	top: 26rpx;
	left: 20rpx;
}

.ico2 {
	width: 36rpx;
	top: 222rpx;
	left: 20rpx;
}

.disabled {
	background: #6D14B3;
}

.undisabled {
	background: #6D14B3;
}

/* 地区 */
.regions-all {
	width: 216rpx;
	font-size: 24rpx;
	top: 15rpx;
	left: 0rpx;
}

.regions {
	width: 152rpx;
	height: 62rpx;
	background: #F6F6F6;
	border-radius: 8rpx 8rpx 8rpx 8rpx;
	color: #1E1E1E;
	line-height: 62rpx;
}

.region-option {
	width: 136rpx;
	height: 102rpx;
	background: #F6F6F6;
	border-radius: 8rpx 8rpx 8rpx 8rpx;
	color: #7E7E7E;
	line-height: 62rpx;
	top: 74rpx;
	left: 0rpx;
	text-align: center;
}

.region-option>view {
	width: 100%;
	line-height: 50rpx;
}

.select_op {
	color: #F4504E;
}

.vercode-input .verCode1{width: 100px;height: 30px;position: absolute;bottom:10px;right: 0;}
.vercode-input .verCode1 div{width: 100px;height: 25px;}

.code {
	margin: auto;
	margin-top: 50rpx;
	width: 650rpx;
	height: auto;
}

.code-tip-one {
	width: 100%;
	margin: 0 auto;
	font-weight: bold;
	color: #313131;
	text-align: center;
}

.code-tip {
	width: 100%;
	height: 100rpx;
	line-height: 50rpx;
	font-size: 32rpx;
	margin-bottom: 100rpx;
	font-weight: normal;
	color: #1E1E1E;

}

.code-errow {
	width: 650rpx;
	height: 50rpx;
	line-height: 25rpx;
	font-size: 28rpx;
	font-weight: normal;
	color: #ff0000;
}

.code-tip>text {
	padding: 0 20rpx;
	width: 650rpx;
	font-size: 30rpx;
	font-weight: normal;
	color: #ff5500;
}

.code-input {
	margin: auto;
	width: 572rpx;
	height: 160rpx;
	display: flex;
	justify-content: space-between;
}

.code-input>view {

	line-height: 80rpx;
	font-size: 60rpx;
	font-weight: bold;
	color: #000;
	text-align: center;
	border-radius: 20rpx;
	width: 80rpx;
	height: 80rpx;
	box-sizing: border-box;
	background: #F8F8F8;



}


.cinput {
	position: fixed;
	left: -100rpx;
	width: 50rpx;
	height: 50rpx;
}

.recode {
	width: 250rpx;
	text-align: right;
	margin: 36rpx auto 0;
	height: 52rpx;
	font-size: 28rpx;
	font-family: 蘋方-繁-Regular, 蘋方-繁;
	font-weight: 400;
	color: #6D14B3;
	line-height: 52rpx;
	background: none;
	top: -196rpx;
	right: 0;
	text-align: center;
	white-space: nowrap;
}